<section class="title-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>in a really cool spot nearby</h1>
                <p>you gotta 'see'</p>
            </div>
        </div>
    </div>
</section>
<section class="middle-sec pt-5 pb-5 cool-spot-middle">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="cool-spot-inner">
                    <div class="cool-spot-left">
                        <ul>
                            <li>
                                <span>downtown LA</span><br> 555 West 5th Street, 34th floor
                            </li>
                            <li>
                                <span>Long Beach</span><br> 100 W Broadway
                            </li>
                            <li>
                                <span>Santa Monica</span><br> 520 Broadway 312 Arizona Ave
                            </li>
                            <li>
                                <span>Manhattan Beach</span><br> 1240 Rosecrans Ave
                            </li>
                            <li>
                                <span>Hollywood</span><br> 7083 Hollywood Blvd
                            </li>
                            <li>
                                <span>Culver City</span><br> 5792 West Jefferson Blvd
                            </li>
                            <li>
                                <span>Playa Vista</span><br> 12655 W. Jefferson Blvd
                            </li>
                            <li>
                                <span>La Brea</span><br> 925 N La Brea Ave, 4th floor
                            </li>
                            <li>
                                <span>Burbank</span><br> 3900 W Alameda Ave
                            </li>
                            <li>
                                <span>Pasadena</span><br> 177 E Colorado Blvd
                            </li>
                        </ul>
                    </div>
                    <div class="cool-spot-right">
                        <div class="cool-spot-box-main">
                            <div class="cool-spot-box d-flex justify-content-center align-items-center">
                                <h2>
                                    Single Exam<br> $80
                                </h2>
                            </div>
                            <p>or</p>
                            <div class="cool-spot-box d-flex justify-content-center align-items-center">
                                <h2>
                                    visionaire<br> <span>( subscription )</span><br> $14.99/<span>month</span>
                                    <br> <span>Exam (annual) + Glasses (cool)</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>