<section class="title-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>your next visit</h1>
                <h3>09 / 20 / 2018</h3>
            </div>
        </div>
    </div>
</section>
<section class="middle-sec pt-5 pb-5 next-visit-middle">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 pt-5 pb-5">
                <div class="next-visit-inner text-center">
                    <div class="user-pic d-flex justify-content-center">
                        <div class="user-pic-inner">
                            <img src="assets/jane.png" alt="">
                            <p>Jane Doe</p>
                        </div>
                    </div>
                    <ul class="inner-nav d-flex justify-content-around">
                        <li><a href="javascript: void(0)">my glasses</a></li>
                        <li><a href="javascript: void(0)">my prescription</a></li>
                        <li><a href="javascript: void(0)">my vision</a></li>
                    </ul>
                    <div class="guy-pics d-flex justify-content-around">
                        <div class="guy-pics-box">
                            <img src="assets/img1.jpg" alt="">
                            <p>get glasses</p>
                        </div>
                        <div class="guy-pics-box">
                            <img src="assets/img2.jpg" alt="">
                            <p>book eye exam</p>
                        </div>
                        <div class="guy-pics-box">
                            <img src="assets/img3.jpg" alt="">
                            <p>stream</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>